/* リセットと全般のスタイル */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: Arial, sans-serif; /* フォントを指定 */
    background-color: #f8f8f8; /* 背景色を設定 */
    text-align: center;
}

.board {
    max-width: 1000px; /* ボードの最大幅を設定 */
    margin: 0 auto; /* ページ中央に配置 */
    background-color: #fff; /* ボードの背景色を設定 */
    border: 1px solid #ccc; /* ボーダーを追加 */
    border-radius: 5px; /* 角丸を追加 */
    padding: 40px;
    margin-top: 50px; /* 上部の余白を設定 */
}

/* スレッド一覧のスタイル */
ul {
    padding: 0;
}

li {
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px; /* タイトルの下部に余白を追加 */
}

p {
    margin-bottom: 10px;
}

.newThreadLink {
    position: absolute;
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: bold; /* リンクを太字にする */
    text-align: left;
    top: 19%;
}

a:hover {
    color: #666;
}
