/* リセットと全般のスタイル */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: Arial, sans-serif; /* フォントを指定 */
  background-color: #f8f8f8; /* 背景色を設定 */
  text-align: center;
}

.board {
  max-width: 1000px; /* ボードの最大幅を設定 */
  margin: 0 auto; /* ページ中央に配置 */
  background-color: #fff; /* ボードの背景色を設定 */
  border: 1px solid #ccc; /* ボーダーを追加 */
  border-radius: 5px; /* 角丸を追加 */
  padding: 40px;
  margin-top: 50px; /* 上部の余白を設定 */
}

/* スレッド一覧のスタイル */
ul {
  padding: 0;
  margin: 0;
}

li {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
}

h2 a {
  color: #333; 
  text-decoration: none; 
  font-weight: bold; 
}

p{
    margin-bottom: 14px;
}


p.content {
  color: #666;
  line-height: 1.5; 
}

p.create {
  color: #999; 
  font-size: 0.8em; 
  margin-bottom: 10px;
}

.newThreadLink {
  position: absolute;
  display: block;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  text-align: left;
  top: 16%;
}

a:hover {
  color: #666;
}

.logOut{
  position: absolute;
  display: block;
  max-width: 70%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  top: 0%;
  right: 2%;
  text-decoration: none;
  text-decoration-line: none;
}

.logOut:hover{
  background-color: #0056b3;
  color: #fff;
}


@media (max-width: 1000px) {
  .board {
    max-width: 90%;
    padding: 20px;
  }

  .newThreadLink {
    position: static;
    margin-bottom: 20px;
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .board {
    padding: 10px;
  }

  li {
    padding: 15px;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }
}
