.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button, .toRegister {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.toRegister {
    position: absolute;
    width: auto;
    top: 4%;
    right: 5%;
    text-decoration: none;
}

button:hover, .toRegister:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
}

.error-message {
    color: #ff0000;
    font-size: 14px;
}

/* レスポンシブデザイン */
@media (max-width: 600px) {
    .login-container {
        margin: 50px auto;
        padding: 20px;
    }

    .toRegister {
        position: static;
        margin: 20px auto;
        display: block;
        width: 20%;
        text-align: center;
    }
}
